* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bodyFeedback {
  background-color: rgb(84, 132, 187);
  height: 100vh;
}


.container {
  align-items: center;
  background-color: red;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  font-size: 25px;
  justify-content: center;
  margin-left: 40%;
  margin-top: 200px;
  opacity: 0.88;
  text-align: center;
  width: 300px;
}


#btnRanking {
  background-image: linear-gradient(to right, #00b7ff 0%, #06f 51%, #00f7ff 100%);
  border: none;
  border-radius: 30px;
  color: white;
  height: 30px;
  width: 150px;
}

#btnPlay {
  background-image: linear-gradient(to right, #00b7ff 0%, #06f 51%, #00f7ff 100%);
  border: none;
  border-radius: 30px;
  color: white;
  height: 30px;
  width: 150px;
}

#btnRanking:hover {
  background-image: linear-gradient(to right, #00b7ff 0%, #06f 51%, #00f7ff 100%);
  cursor: pointer;
  height: 45px;
  width: 170px;

}

#btnPlay:hover {
  background-color: rgb(241, 237, 236);
  border: 2px solid rgb(246, 235, 235);
  color: rgb(0, 0, 0);
  cursor: pointer;
  height: 45px;
  width: 170px;

}

