@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@500&display=swap');

:root {

  --main-border-correct-color: rgb(6, 240, 15);

  --main-border-wrong-color: red;
}


.border-correct {
  border: 3px solid var(--main-border-correct-color);
}

.border-wrong {
  border: 3px solid var(--main-border-wrong-color);
}


.answer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


.answer {
  background-color: rgb(16, 63, 100);
  border-radius: 10px;
  color: white;
  display: flex;
  font-size: 15px;
  height: 30px;
  justify-content: center;
  margin-bottom: 3%;
  margin-inline: 10%;
  width: 100px;
  width: 400px;
}

.bodyGame {
  background-color: rgb(47, 90, 139);
  height: 100vh;

}

.categoria {
  background: rgb(5, 154, 160);
  border-radius: 10px;
  box-shadow: 1px 2px 1px rgb(135, 228, 245);
  color: white;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-evenly;
  padding: 10px;
  text-align: center;
  width: 400px;
}

hr {
  margin-bottom: 15px;
  margin-top: -10px;
}

h2 {
  margin-top: -22px;

}

#timer {
  color: white;
  display: flex;
  font-family: 'David Libre' , serif;
  font-size: 35px;
  height: 35px;
  justify-content: center;
  margin-top: 100px;
  margin-top: -50px;
  text-align: center;
  width: 35px;
}

.nextButton {
  background-image: linear-gradient(to right, #00b7ff 0%, #06f 51%, #00f7ff 100%);
  border-radius: 40px;
  color: white;
  height: 30px;
  margin-left: 50px;
  margin-top: 55px;
  text-align: center;
  width: 150px;
}

.gameContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 150px;
  text-align: center;
}

.nextButton:hover {
  background-image: linear-gradient(to right, #00b7ff 0%, #06f 51%, #00f7ff 100%);
  border: 1px solid rgb(182, 180, 180);
  box-shadow: 1px 1px gray;
  color: white;
  cursor: pointer;
  height: 45px;
  width: 170px;
}

