* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

 .bodyRanking {
  background-color: rgb(15, 129, 125);
  height: 100vh;

}

#titulo {
    text-align: center;
}

#button {
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(14, 13, 13);
    border-radius: 30px;
    color: white;
    height: 30px;
    width: 150px;
}

#button:hover {
    background-color: rgb(241, 237, 236);
    border: 2px solid rgb(246, 235, 235);
    color: rgb(0, 0, 0);
    cursor: pointer;
    height: 45px;
    width: 170px;

}