* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bodyRanking {
  align-items: center;
  background-color: rgb(84, 132, 187);
  display: grid;
  height: 100vh;
  justify-content: center;
}

#button {
  align-items: center;
  background-image: linear-gradient(to right, #00b7ff 0%, #06f 51%, #00f7ff 100%);
  border: none;
  border-radius: 30px;
  color: white;
  display: grid;
  height: 30px;
  justify-content: center;
  text-transform: uppercase;
  width: 150px;

}

h1 {
  color: white;
  font-size: 3rem;
}


#button:hover {
  background-image: linear-gradient(to right, #00b7ff 0%, #06f 51%, #00f7ff 100%);
  cursor: pointer;
  height: 45px;
  width: 170px;

}

