* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  background-color: rgb(17, 78, 72);
  color: white;
  display: flex;
  font-size: 20px;
  height: 12%;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 0;
  width: 100%;
}


#imagem {
  border-radius: 30px;
  margin-left: 12px;
  opacity: 0.85;
  width: 5%;
}

.score {
  margin-right: 18px;
}
